

#navBar{
    background-color:#232F3E;
    height:100px;
    color:white
  }
  #topHalf{
    height:50px;
  }
  #bottomHalf{
    height:50px
  }
  #logo{
    height:100px;
    position:absolute;
    top:-25px
    
  }
  #logoWrapper{
    margin-bottom:20px;
    display:inline-block;
    position:relative;
    width:150px;
    
  }
  #backToSchool{
    height:50px;
    float:right;
    margin-right:20px
    
  }
  input{
    vertical-align:top;
    margin-top:10px;
    border-radius:10px;
    height:20px;
    width:500px;
  }
  #department{
    font-size:25px;
    padding:10px;
    margin-left:30px;
    font-weight:bold;
    display:inline-block;
    vertical-align:top;
    margin-top:10px
  }
  #sections{
    display:inline-block
  }
  .section{
    display:inline-block;
    vertical-align:top;
    font-size:15px;
    margin-top:25px;
    margin-left:10px
  }
  #accountStuff{
    display:inline-block;
    float:right;
    margin-right:20px
  }
  
  
  