div{
   border: 15px solid yellow;

}
div span{
  color:red;
}
ul{
	list-style-type: square; 
}

ul{
	list-style-type: none; 
}

ul li::before {
content:"";
display: inline-block; 
width:20px;
height: 20px;
background-image:url("heart.png");
background-size:cover;
margin-right: 5px;s
}

ul li{
background-image:url("heart.png");
background-size:cover;
margin-right: 5px;
}